@import "tailwindcss";

/*-----------------------------------------------------------------------*/

@layer components {
  /* Background Principal */
  .bg-principal {
    background: #f7ebf7;
    background: linear-gradient(
      90deg,
      rgba(247, 235, 247, 1) 14%,
      rgba(225, 236, 237, 1) 30%,
      rgba(228, 235, 240, 1) 55%,
      rgba(235, 228, 234, 1) 75%,
      rgba(230, 246, 247, 1) 91%
    );
  }

  /* Estilo de los Link de Navegación */
  .nav__link {
    @apply relative text-gray-950 text-[20px] font-medium w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-blue-700 after:w-full after:scale-x-0 hover:after:scale-x-100 after:transition after:duration-300 after:origin-center;
  }

  /* Background de la barra de navegación con desenfoque */
  .nav-blur {
    background: #ffaaff21;
    background: linear-gradient(
      90deg,
      rgb(196, 214, 255) 0%,
      rgb(232, 194, 250)50%,
      rgb(255, 205, 253) 100%
    );

  }

  /* Background de la barra de navegación móvil con desenfoque */
  .nav-blur-mobile {
    background: #f7ebf721;
    background: linear-gradient(
      90deg,
      rgba(242, 203, 242, 1) 0%,
      rgba(183, 232, 237, 1) 100%
    );
    
  }

  /* Animación que hace que el ícono tenga un efecto de brillo
   que se enciende y apaga automáticamente. */
  @keyframes glow {
    0%,
    /* Estado inicial y final: sin brillo */
    100% {
      text-shadow: 0 0 0px rgba(255, 255, 255, 0.2);
      color: #18181b;
    }
    /* Estado intermedio: brillo encendido */
    50% {
      text-shadow: 0 0 10px rgba(255, 0, 0, 0.7), 0 0 20px rgba(255, 0, 0, 0.5);
      color: #df0000;
    }
  }

  /* Clase que aplica la animación glow. */
  .animate-glow {
    animation: glow 2s ease-in-out infinite;
  }
}



/* .nav-blur {
    background: #ffaaff21;
    background: linear-gradient(
      90deg,
      rgba(135, 173, 255, 0.5) 0%,
      rgba(222, 152, 255, 0.5)50%,
      rgba(250, 162, 246, 0.5) 100%
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);


    .nav-blur-mobile {
    background: #f7ebf721;
    background: linear-gradient(
      90deg,
      rgba(242, 203, 242, 0.82) 0%,
      rgba(183, 232, 237, 0.82) 100%
    );
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(10px);
  }
  }*/